* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    position: block;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.titulo {
    color: aliceblue;
    position: absolute;
    margin-right: 65rem;
    margin-bottom: 30rem;
}

.scoreText {
    color: aliceblue;
    margin-left: -13rem;
    position: absolute;
    margin-top: 4rem;
}
.level {
    color: aliceblue;
    position: absolute;
    margin-left: 65rem;
    margin-bottom: 15rem;
    
}
.live{
    color: aliceblue;
    margin-left: -13rem;
    position: absolute;
    margin-top: 8rem;
}
.btn{
    color: rgb(15, 15, 15);
    position: absolute;
    margin-right: 65rem;
    margin-bottom: 20rem;
    text-decoration: none;
    border: .1rem solid rgb(245, 248, 245);
    background-color: rgb(198, 195, 16);
    padding: .4rem 4rem;
    box-shadow: 3px -2px  rgb(231, 37, 3);
    border-radius: 1rem;
}
.btn:hover {
    color:aliceblue;
    background-color: transparent;
}
.btn1{
    color: rgb(15, 15, 15);
    margin-right: 65rem;
    margin-bottom: 10rem;
    position: absolute;
    text-decoration: none;
    border: .1rem solid rgb(245, 248, 245);
    background-color: rgb(198, 195, 16);
    padding: .4rem 2.3rem;
    box-shadow: 3px -2px  rgb(231, 37, 3);
    border-radius: 1rem;
    cursor: pointer;
}
.btn1:hover {
    color:aliceblue;
    background-color: transparent;
}

.controles {
    align-items: center;
    text-align: center;
    display: none;
    gap: 1rem;
    flex-direction: row;
    margin: .5rem;
    
}
.controles button {
    border-radius: 1rem;
    cursor: pointer;
    padding: .4rem;
    background-color: rgba(23, 216, 59, 0.4);
}

@media screen and (max-width: 500px) {
    body {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

    }
    .controles {
        align-items: center;
        text-align: center;
        display: flex;
        gap: 1rem;
        flex-direction: row;
        margin: .5rem;
        margin-top: 430px;
        margin-right: 10px;
        position: absolute;

    }
    canvas {
        width: 100%;
    }
    .titulo{
       margin: 30px auto;
       margin-top: 550px;
    }
    .level{
        margin: 30px auto;
       margin-top: 880px;
       


    }
    .btn{
       margin: 30px auto;
       margin-top: 650px;
       margin-right: 170px;

      
    }
    .btn1{
        margin: 30px auto;
       margin-top: 650px;
       margin-left: 170px;

      
    }
  }