* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin-left: 14rem;
    background-color: #000;
    position: block;
    display: flex;
}
.titulo {
    color: aliceblue;
    margin-left: -10rem;
    position: absolute;
    margin-top: .5rem;
}

.scoreText {
    color: aliceblue;
    margin-left: -13rem;
    position: absolute;
    margin-top: 4rem;
}
.level {
    color: aliceblue;
    margin-left: -10rem;
    position: absolute;
    margin-top: 17rem;
}
.live{
    color: aliceblue;
    margin-left: -13rem;
    position: absolute;
    margin-top: 8rem;
}
.btn{
    color: rgb(15, 15, 15);
    margin-left: -12rem;
    position: absolute;
    margin-top: 12rem;
    text-decoration: none;
    border: .1rem solid rgb(245, 248, 245);
    background-color: rgb(198, 195, 16);
    padding: .4rem 4rem;
    box-shadow: 3px -2px  rgb(231, 37, 3);
    border-radius: 1rem;
}
.btn:hover {
    color:aliceblue;
    background-color: transparent;
}
.btn1{
    color: rgb(15, 15, 15);
    margin-left: -12rem;
    position: absolute;
    margin-top: 6rem;
    text-decoration: none;
    border: .1rem solid rgb(245, 248, 245);
    background-color: rgb(198, 195, 16);
    padding: .4rem 2.3rem;
    box-shadow: 3px -2px  rgb(231, 37, 3);
    border-radius: 1rem;
    cursor: pointer;
}
.btn1:hover {
    color:aliceblue;
    background-color: transparent;
}

@media screen and (max-width: 400px) {
    body {
        position: relative;
        display: -webkit-flex;
        max-block-size: 50%;
    }
    .titulo{
        padding-top: 40rem;
        margin-left: 20rem;
    }
    .level{
        padding-top: 45rem;
        margin-left: 20rem;
        width: 100rem;
    }
    .btn{
        padding: .4rem 4rem;
        margin-left: 17rem;
        margin-top: 53rem;       
    }
    .btn1{
        padding: .4rem 2.3rem;
        margin-left: 18.4rem;
        margin-top: 46rem;       
    }
  }